<h1>Discover a Movie to Watch</h1>
<p>Ready to plan a night of fun and excitement? Find a movie and create your party!</p>

<h2>Choose One: Top Movies or Search</h2>
<div class="columns">
  <section class="movies">
    <h3>Top Movies</h3>
    <%= button_to 'Discover Top 40', results_path, method: :get, class: "button" %>
  </section>

  <section class="movies">
    <h3>Search for a Movie</h3>
    <p>Search for anything. A topic, an idea, a title, you name it.</p>
    <%= form_tag results_path, method: :get, local: true do %>
      <%= label_tag :search %>
      <%= search_field_tag :search %>
      <%= submit_tag 'Search', class: "small-button" %>
    <% end%>
  </section>
</div>

<% if @search %>
  <h2><%= "Your search for #{@search} returned #{@movies.count} results:" %></h2>
<% else %>
  <h2>Top 40 Movies</h2>
<% end %>

<div class="movies-container">
  <% @movies.each do |movie| %>
    <div class="movie">
    <% if movie.poster.nil? %>
      <%= image_tag "movies/default-movie.jpg", class: "grid-box-img" %>
    <% else %>
      <%= image_tag "https://image.tmdb.org/t/p/w500/#{movie.poster}", class: "grid-box-img" %>
    <% end %>
      <div class="grid-box-title"><%= link_to "#{movie.title}",  movie_path("#{movie.uuid}") %></div>
      <div class="grid-box-rating">Vote Average: <%= movie.vote_average %></div>
    </div>
  <% end%>
</div>
