<h3><%= "Movie title: #{@movie.data[:original_title]}" %></h3>

<%= form_with model: @viewing_party, url: create_vp_path, local: true do |f| %>

  <%= f.label :movie_title, "Movie Title" %>
  <%= f.text_field :movie_title, value: @movie.data[:original_title], readonly: true %>
  <br>
  <%= f.label :party_duration, "Party Duration:" %>
  <%= f.number_field :party_duration, value: @movie.data[:runtime] %>
  <br>
  <%= f.label :party_date, "Party Date:" %>
  <%= f.date_field :party_date %>
  <br>
  <%= f.label :party_time, "Party Time:" %>
  <%= f.time_field :party_time %>
  <br>
  <p>My Friends: </p>
  <% if current_user.friends.empty? && current_user.inverse_friends.empty? %>
    <p>You have no friends. Please add some on your dashboard before you make a party. </p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <%= f.check_box friend.email %>
      <%= f.label friend.email %><br>
    <% end %>
    <% current_user.inverse_friends.each do |friend| %>
      <%= f.check_box friend.email %>
      <%= f.label friend.email %><br>
    <% end %>
  <% end %>
  <%= submit_tag 'Create Viewing Party' %>
<% end %>
