<h1><%= @movie_detail.title %></h1>

<%= button_to 'Create Viewing Party', new_vp_path, method: :get %>
<%= @movie_detail.vote_average %>

<%= film_length(@movie_detail.runtime) %>
<% @movie_detail.genres.each do |genre| %>
  <%= genre[:name] %>
<% end %>
<%= @movie_detail.summary %>
  <% @cast.first(10).each do |actor| %>
    <div class="actor">
      <%= actor.name %>
      <%= actor.character %>
    </div>
  <% end %>
<p>Total Reviews:</p>
<%= @reviews.count %>
<p>Review Results:</p>
<% @reviews.each do |review|%>
  <%= review.rating %><br>
  <%= review.author %><br>
  <%= review.content %><br>
<% end %>
