<h1>Welcome <%= @user.email %>!</h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class='friends'>
  <h2>Add a friend</h2>
  <%= form_tag '/dashboard', method: :post do %>
    <%= label_tag :friend_email %>
    <%= text_field_tag :friend_email, 'friend@email.com' %>
    <%= submit_tag 'Add Friend' %>
  <% end %>

  <h2>Friends</h2>
  <% if @user.friends.empty? && @user.inverse_friends.empty?  %>
    <p>We can't find any friends, add one!</p>
  <% else %>
    <ul>
      <% @user.friends.each do |friend| %>
        <li><%= friend.email %></li>
      <% end %>
      <% @user.inverse_friends.each do |friend| %>
        <li><%= friend.email %></li>
      <% end %>
    </ul>
  <% end %>
</section>

<section class='viewing-parties'>
  <h2>Viewing Parties: Host</h2>
    <div class="host-parties">
      <% if @user.viewing_parties.empty? %>
        <p>No parties yet!</p>
      <% else %>
        <% @user.viewing_parties.each do |vp| %>
          <p><%= vp.movie.title %> on <%= vp.date.strftime('%m/%d/%y') %> at <%= vp.time.strftime('%I:%M %p') %></p>
          <ul>
          <% vp.friends.each do |friend| %>
            <li><%= friend.email %></li>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

  <h2>Viewing Parties: Attendee</h2>
    <div class="attendee-parties">
      <% if @user.parties.empty? %>
        <p>No parties yet!</p>
      <% else %>
        <% @user.parties.each do |vp| %>
          <p><%= vp.movie.title %> on <%= vp.date.strftime('%m/%d/%y') %> at <%= vp.time.strftime('%I:%M %p') %></p>
        <% end %>
      <% end %>
    </div>
</section>
